<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apatsu</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/dash.css">
</head>
<body>
    
    <%- include('./includes/header.ejs')%>

     


    <div style="background-color: white; width: 100vw;">

        <br>
        <div id="dashboard">
            <div id="das-nav">
                <ul>
                    <li><img src="/images/dark-hero-1.jpg" height="200px" width="200px" alt="user_profile"></li>
                    <li><h1><%= user.name %></h1></li>
                    <li><%= user.email %></li>
                    <li>9997071772</li>
                    <li><%= user.password %></li>
                </ul>
            </div>

            <!-- <div id="das-order">
                <ul id="order-summary">
                    <h2><li>Type</li></h2>
                    <h2><li>Order Details</li></h2>
                    <h2><li>Time</li></h2>
                    <h2><li>Current Status</li></h2>
                </ul>
                <ul id="order-summary">
                    <li>Ambulance</li>
                    <li>Order Details</li>
                    <li>Time</li>
                    <li>Current Status</li>
                </ul>
                <ul id="order-summary">
                    <li>Ambulance</li>
                    <li>Order Details</li>
                    <li>Time</li>
                    <li>Current Status</li>
                </ul>
            </div>
        </div> -->

        <div id="das-order">
            <% if(objArray.length){ %>
                <table>
                    <tr class="order-summary">
                        <th>Type</th>
                        <th>Order Details</th>
                        <th>Time</th>
                        <th>Current Status</th>
                    </tr>
                    <% for( let i =  objArray.length-1  ;i >= 0 ; i--){ %>
                        <% if(objArray[i].model == 'Ambulance'){ %>
                            <tr>
                                <td><%= objArray[i].model %></td>
                                <td><a href="/users/ambulance/<%= objArray[i]._id %>"><%= objArray[i]._id %></a></td>
                                <td style="width: auto;"><%= objArray[i].createdAt %></td>
                                <td><%= objArray[i].orderStatus %></td>
                                </a>
                            </tr>
                        <% }else if(objArray[i].model == 'Hospital'){ %>
                            <tr>                               
                                <td><%= objArray[i].model %></td>
                                <td><a href="/users/hospital/<%= objArray[i]._id %>"><%= objArray[i]._id %></a></td>
                                <td style="width: auto;"><%= objArray[i].createdAt %></td>
                                <td><%= objArray[i].orderStatus %></td>
                            </tr>
                        <% } else if(objArray[i].model == 'Medicines'){%>
                            <tr>
                                <td><%= objArray[i].model %></td>
                                <td><a href="/users/medicine/<%= objArray[i]._id %>"><%= objArray[i]._id %></a></td>
                                <td style="width: auto;"><%= objArray[i].createdAt %></td>
                                <td><%= objArray[i].orderStatus %></td>
                            </tr>
                        <% } %>
                    <% } %>
                </table>
            <% } %>
        </div> 
    </div>

    <%- include('./includes/footer.ejs')%>
</body>
</html>