<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apatsu | <%= title %></title>
    <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/hospital.css">
</head>
<body>
    <%- include('./includes/header.ejs')%>

    <div id="super">
            <h1 id="title" >Your Shop is Open to Take Orders</h1>
            <br>
            <table>
                <tr style="background-color: darkgrey;">
                    <th style="font-size: 1.4rem;"><strong>Sr No.</strong></th>
                    <th style="font-size: 1.4rem;"><strong>Patient Name.</strong></th>
                    <th style="font-size: 1.4rem;"><strong>Phone Number</strong></th>
                    <th style="font-size: 1.4rem;"><strong>Email</strong></th>
                    <th style="font-size: 1.4rem;"><strong>Age</strong></th>
                    <th style="font-size: 1.4rem;"><strong>Pincode</strong></th>
                    <th style="font-size: 1.4rem;"><strong>Order Status</strong></th>
                    
                </tr>                
                <% for( i =0 ; i< hosBook.length ; i++ ){ %>                    
                    <tr>                 
                        <th><a href="/hosusers/order/<%= hosBook[i].id %>"><%= i+1 %></a></th>
                        <td><a href="/hosusers/order/<%= hosBook[i].id %>"><%= hosBook[i].patinentName %></a></td>
                        <td><a href="/hosusers/order/<%= hosBook[i].id %>"><%= hosBook[i].patientMob %></a></td>
                        <td><a href="/hosusers/order/<%= hosBook[i].id %>"><%= hosBook[i].patientEmail %></a></td>
                        <td><a href="/hosusers/order/<%= hosBook[i].id %>"><%= hosBook[i].patientAge %></a></td>
                        <td><a href="/hosusers/order/<%= hosBook[i].id %>"><%= hosBook[i].patientPincode %></a></td>
                        <td><a href="/hosusers/order/<%= hosBook[i].id %>"><%= hosBook[i].orderStatus %></a></td>
                    </tr>                    
                <% } %>
            </table>       
    </div>
    <%- include('./includes/footer.ejs')%>
</body>
</html>