<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apatsu | <%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/notApproved.css">
</head>
<body>
    <%- include('./includes/header.ejs')%>

    <div id="super">

        
        <% if(notAppStores){ %>
            <h1 style="color: blue;">Approve the Pending Medical Stores to Join the Forces</h1>
            <hr>
            <br>
            <table>
                <tr style="background-color: darkgrey;">
                    <th style="font-size: 1.4rem;"><strong>Sr No.</strong></th>
                    <th style="font-size: 1.4rem;"><strong>Shop Name</strong></th>
                    <th style="font-size: 1.4rem;"><strong>Owner Name</strong></th>
                    <th style="font-size: 1.4rem;"><strong>Email</strong></th>
                    <th style="font-size: 1.4rem;"><strong>Owner Phone</strong></th>
                    <th style="font-size: 1.4rem;"><strong>Shop Pincode</strong></th>
                    <th style="font-size: 1.4rem;"><strong>Add to Forces</strong></th>
                </tr>
                <% for(i =0; i<notAppStores.length ;i++) { %>
                    <tr>
                        <form action="/update/approveStore/<%= notAppStores[i].id %>" method="post">
                            <td><a href="#"><strong><%= i+1 %></strong></a></td>
                            <td><a href="#"><%= notAppStores[i].shopName %></a></td>
                            <td><a href="#"><%= notAppStores[i].ownerName %></a></td>
                            <td><a href="#"><%= notAppStores[i].email %></a></td>
                            <td><a href="#"><%= notAppStores[i].onwerPhone %></a></td>
                            <td><a href="#"><%= notAppStores[i].shopPincode %></a></td>
                            <td><button type="submit">Add to Team</button></td>
                        </form>
                    </tr>
                <% } %>
            </table>
            <br>
            <hr>
            <hr>
            <h1 style="color: red;"><a href="/superAdmin/cancelStores">Cancel the Approved Request</a></h1>
            <% } %>
            <% if(appStores){ %>
                <h1 style="color: red;">Cancel the Approved Request</h1>
                <hr>
                <br>
                <table>
                    <tr style="background-color: darkgrey;">
                        <th style="font-size: 1.4rem;"><strong>Sr No.</strong></th>
                        <th style="font-size: 1.4rem;"><strong>Shop Name</strong></th>
                        <th style="font-size: 1.4rem;"><strong>Owner Name</strong></th>
                        <th style="font-size: 1.4rem;"><strong>Email</strong></th>
                        <th style="font-size: 1.4rem;"><strong>Owner Phone</strong></th>
                        <th style="font-size: 1.4rem;"><strong>Shop Pincode</strong></th>
                        <th style="font-size: 1.4rem;"><strong>Add from Forces</strong></th>
                    </tr>
                    <% for(i =0; i<appStores.length ;i++) { %>
                        <tr>
                            <form action="/update/cancelStore/<%= appStores[i].id %>" method="post">
                                <td><a href="#"><strong><%= i+1 %></strong></a></td>
                                <td><a href="#"><%= appStores[i].shopName %></a></td>
                                <td><a href="#"><%= appStores[i].ownerName %></a></td>
                                <td><a href="#"><%= appStores[i].email %></a></td>
                                <td><a href="#"><%= appStores[i].onwerPhone %></a></td>
                                <td><a href="#"><%= appStores[i].shopPincode %></a></td>
                                <td><button type="submit">Remove From Team</button></td>
                            </form>
                        </tr>
                    <% } %>
                </table>
                <br>
                <hr>
                <hr>
                <h1 style="color: blue;"><a style="color: blue;" href="/superAdmin/stores">Approve the Pending Medical Stores to Join the Forces</a></h1>
            <% } %>
        
        
    </div>
    <%- include('./includes/footer.ejs')%>
</body>
</html>